*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color:rgb(203 186 163);
    justify-content: center;
}
.container{
    display: flex;
    max-height: 600px;
    max-width: 900px;
}
.container img{
    width: 400px;
    height: 100%;
}
.write{
    width: 40%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.write b{
    
}
.pp{
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}
.title{
    font-size: 40px;
    margin-bottom: 50px;
    color: black;
}
.container p{
    font-weight: 100;
    color:grey;
    font-size:14px;
}
.container span{
    margin-left: 120px;
    text-decoration: line-through;
    color:grey;
}
.write b{
    margin-top: 200px;
    font-size: 30px;
    color:green;
}
.container button{
    width: 350px;
    height: 400px;
    background-color: green;
    color: white;
    font-size: 15px;
    box-shadow: 0 2px 2px 0px green;
    
}
button i{
    margin-right: 30px;
}
button:hover{
    box-shadow: 0 8px 10px 0;
}
